# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Project specific
model_backups/
preprocessed_*/
*.log
*.png
confusion_matrix.png

# Tensorflow
checkpoint
*.ckpt.*
*.pb
events.out.tfevents.*
